/*! style CSS by Ray. Use at your own risk...*/

/* structure */

html, body {
    overflow-x: hidden;
    height: 100%;
}


.container {
	min-height: 100%;
	margin-bottom: -80px;	
}

header {
	height: 150px;
	width: 100%;
	background-color: #6e6e72;
}

header:before {
	content: "";
  	position: absolute;
  	background:  #eaeaea;  /* Match the background */
  	top: 0;
  	bottom: 0;
  	width: 9999px;
  	height: 150px;
  	right: 100%;
}

nav:after {
	content: "";
  	position: absolute;
  	background: #6e6e72;  /* Match the background */
  	top: 0;
  	bottom: 0;
  	width: 9999px;
  	height: 150px;
  	left: 100%;
}


#main {
	padding-top: 40px;
	width: 100%;
	margin: 0 auto;
}

#salut h1 {
	margin: 30px 15px 30px 15px;
}

#salut h2 {
	margin: 0px 15px 40px 15px;
}

#salut h3 {
	margin: 10px 15px 30px 15px;
}


#salut p {
	margin-bottom: 60px;
}

.center {
	text-align: center;
}


footer {
	font-family:Arial, Helvetica, sans-serif;
	font-size: .75em;
	line-height: 60pt;
	color: #999;
	margin-top : 20px;
	background-color: #333;
	position: relative;
	bottom:0;
	width:100%;
	height:80px;
	text-align: center;
}

	footer::selection {
		background: #4EB6C5;
	}

	footer::moz-selection {
  		background: #4EB6C5;
	}


.clear-footer {
height: 80px;
clear: both;
}


/* navigation */

.navbar, #logo {
	text-align: center;
}


#logo {
	background-color: #eaeaea;
	height: 150px;
}

#logo img {
	width:auto;
	height: 100%;
}

.navbar {
	background-color: #6e6e72;
	height: 150px;
	vertical-align: middle;
	line-height: 150px;
}


.navbar li {
	display: inline;
	padding-right: 30px;
}

.navbar li a {
	color: #eaeaea;


}

.navbar li a:hover {
  color: #fff;
}


.active {
	border-bottom: 10px #3556ff solid;
}


img {
	width:100%; 
	height:auto;
	margin:auto;
	display:inline-block;
}

/* grid */

#main .proj {
	overflow: hidden;
	position: relative;
}

.proj img {
	height: auto;
	width: 100%;
	margin:auto;
	display:block;
	position: relative !important;
}

.proj:hover .popup {
	bottom: 0;
}

.popup {
	padding: 10px; 
	width:100%; 
	background-color: #6e6e72; 
	color: #ffffff; 
	opacity: .9; 
	position:absolute; 
	bottom :-200px;  
	-webkit-transition:all .2s ease-in-out; 
	-moz-transition:all .2s ease-in-out; 
	-o-transition:all .2s ease-in-out; 
	-ms-transition:all .2s ease-in-out; 
}


/* content pages */

#gutter h4 {
	margin-top: 15px;
}

/* media query */


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

header:after {
	content: "";
  	position: absolute;
  	background: #eaeaea;  /* Match the background */
  	top: 0;
  	bottom: 0;
  	width: 9999px;
  	height: 150px;
  	left: 100%;
}


#logo {
	height: 120px;
}

.navbar {
	background-color: #6e6e72;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
}

.navbar ul {

}

.navbar li {
	display: inline;
	padding-right: 30px;
}

.active {
	border-bottom: 7px #3556ff solid;
}


}




/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {


nav:after {
	content: "";
  	position: absolute;
  	background: #eaeaea;  /* Match the background */
  	top: 0;
  	bottom: 0;
  	width: 9999px;
  	height: 150px;
  	left: 100%;
}


#logo {
	height: 120px;
}

.navbar {
	background-color: #6e6e72;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
}

.navbar ul {

}

.navbar li {
	display: inline;
	padding-right: 30px;
}

.active {
	border-bottom: 7px #3556ff solid;
}

}